table {
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2b2e2d;
    color: white;
    width: 12rem;
    text-align: center;
  }

  

  tbody {
   
    tr {
      td {
        text-align: center;
       height: 5rem;
      }
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #bbb2b2;
        cursor: pointer;
      }
  }
}
