.table-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .button-exit {
    width: 100px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: 34rem;
  }
}

.wrapper-detail-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 5rem auto;
    width: 799px;
}
